body {
    background-color: black;
}

.title {
    color: white;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.cyan {
    color: cyan;
}

.blue {
    color: blue;
}

.purple {
    color: purple;
}